<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Backend Web Developer</h1>
    <p>
      Passionate, Committed backend Developer that is interested in building
      scalable and user friendly web Application that is secure and performant.
      I am always interested in learning new concepts and technologies. i am a
      result orient, take ownership of products and looking a secure a junior
      level or internship role in an IT/or IT related firm.
    </p>
    <h3>Contact Details</h3>
    <ul>
      <li>louisshaw75@gmail.com</li>
      <li>08131547643</li>
      <li>linkedin.com/in/vwede-oteghele-26766a120</li>
      <li>github.com/vwedeoteghele</li>
      <li>Lagos, Nigeria</li>
    </ul>

    <h2>WORK EXPERIENCE</h2>
    Computer Science Instructor
    <h3>National Youth Service Corps</h3>
    <b>01/2017 - 12/2017</b>
    <p>
      Introduction of High School Students to the concept of Computers and their
      application in our everyday lives. Instruct Students on how to carry out
      computer commands, introduce students to programming with scratch,
      operation of basic computer programs.
    </p>
    <h3>Manager Eluphil Global Resources</h3>
    <b>01/2018 - 11/2020</b>
    <p>
      Eluphil Global Resources is an Oil servicing company in Warri, Nigeria .
      In charge of Operations, managing personnels, handling reports and
      compliance with scurity and regulatory bodies. Interaction with
      stakeholders and Negotiation on Memorandum of Understanding(MOUs).
      Negotiation of Contracts with employees, Operators of joint ventures in
      OML 30 and OML 34 in Delta, Nigeria.
    </p>

    <h3>Web Development Intern Skillup Africa</h3>
    <b>01/2021 - 06/2021</b>
    <p>
      Nigeria Skillup Africa is a 6 months intensive program that help graduates
      acquire relevant and in demand skills in Tech. Learning how the world wide
      web works. learning Algorithms and data structures. Learning languages
      like HTML, CSS, JavaScript, Node.js. Implementing Features in Web
      applications Backend. Working on projects with Agile methodologies like
      Scrum and learning product Management Skills
    </p>
    <h2>EDUCATION</h2>
    <h3>Study Program</h3>
    <i>Computer Science</i>
    <bold>Delta State University, Nigeria.</bold>
    <b>01/2012 - 07/2016</b>
    <p>
      Computer Science Algorithms and Data structures Systems Analysis and
      Design Computer Logic and Electronics Mathematics
    </p>
    <h2>SKILLS</h2>
    <ul>
      <li>Javascript</li>
      <li>Node.js</li>
      <li>Git</li>
      <li>Scrum</li>
      <li>Product management</li>
      <li>CSS</li>
      <li>HTML</li>
    </ul>

    <h2>PERSONAL PROJECTS</h2>
    <h3>Blood Donation Application</h3>
    <b>05/2021 - Present</b>
    <p>
      A Web Application that allows usrs to easily find the nearest blood bank,
      schedule an appointment to donate blood and save a life. Allow users who
      are or have a close relative who is ill and in need of blood to easily
      find a blood bank with the type of blood, the price and order blood with
      confirmation from their present hospital. Allow blood banks to accept and
      fulfill blood orders. Todo List Application An application that allow
      users to list tasks for the day and check tasks off for the day. Personal
      Blog CRUD Application that allow users create , edit ,delete blog posts.
      Authenticate users on the Blog and set Authorize users level for different
      CRUD tasks.
    </p>
    <h3>contact Me</h3>
    <form action="/resume" method="POST" class="form-example">
      <div class="form-example">
        <label for="name">Enter your first na"me: </label>
        <input type="text" name="name" id="name" required />
      </div>
      <div class="form-example">
        <label for="email">Enter your email: </label>
        <input type="email" name="email" id="email" required />
      </div>
      <div class="form-example">
        <label for="message">message me </label>
        <input type="text" name="message" id="message" required />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
